.btn{
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
}
.btn-primary{
    border-bottom: solid 5px #538918;
}
.btn-secondary{
    border-bottom: solid 5px #303339;
}
.btn-warning{
    border-bottom: solid 5px #e8a700;
    color: $white;
}