
header{
    @include media-breakpoint-down(md) {
        .nav-link{
            font-size: .9rem;
        }
    }
    .navbar-brand{
        max-width: 196px;
    }
    .form-inline{
        @include media-breakpoint-down(md) {
            flex:1;
            .form-control{
                float: left;
            }
        }
        .search{
            position: relative;
            width: 62%;
            margin-right: 3%;
            input{
                width:100%;
            }
            @include media-breakpoint-down(sm) {
                width:100%;
                margin: 0;
            }
        }
        button{
            width:35%;
            @include media-breakpoint-down(md) {
                float: left;
                overflow: hidden;
                display: block;
            }
            @include media-breakpoint-down(sm) {
                width:100%;
                
            }
        }
        input + svg{
            position:absolute;
            right:5%;
            top:12px;
            path{
                fill:$gray-900;
            }
        }
    }
}